.container {
    padding: 2rem;
}

/* '>' Indica filho de alguma classe ou de atributo ou de tag, conforme o caso*/
/* [class^=.col-] - operador de busca para '.col-' 
https://www.dicas-l.com.br/arquivo/seletores_css_seletor_de_atributo.php */
.row > [class^="col-"] > h2 {
    font-weight: 700;
}
.row > .col, .row > [class^="col-"] {
    padding-top: .75rem;
    padding-bottom: .75rem;
    background-color: rgba(192, 221, 253, 0.4);
    border: 1px solid  rgba(192, 221, 253, 1);
}
.bg-color-red .row > div {
    background-color: rgba(253, 201, 201, 0.4);
    border: 1px solid  rgba(253, 201, 201, 1);
}
